<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Ruby Scripting"
            level-id="RubyScripting"
            name="Ruby Scripting"
            icon="icons/ruby_16.png"
            path="/community"/>
   </extension>
   -->

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/RubyScripting"
            factory-class="org.knime.ext.jruby.RubyScriptNodeFactory"
            id="org.knime.ext.jruby.RubyScriptNodeFactory"
            icon="ruby_16.png"/>
   </extension>

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/RubyScripting"
            factory-class="org.knime.ext.jruby.RubyScriptNodeFactory01"
            id="org.knime.ext.jruby.RubyScriptNodeFactory01"
            icon="ruby_16.png"/>
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/RubyScripting"
            factory-class="org.knime.ext.jruby.RubyScriptNodeFactory22"
            id="org.knime.ext.jruby.RubyScriptNodeFactory22"
            icon="ruby_16.png"/>
   </extension>   

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/RubyScripting"
            factory-class="org.knime.ext.jruby.RubySnippetNodeFactory"
            id="org.knime.ext.jruby.RubySnippetNodeFactory"
            icon="ruby_snippet_16.png"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.knime.ext.jruby.preferences.RubyScriptPreferencePage"
            id="org.knime.ext.jruby.preferences.RubyScriptPreferencePage"
            category="org.knime.workbench.ui.preferences"
            icon="ruby_16.png"
            name="Ruby scripting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.ext.jruby.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
